@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

.saludable-title-big{
    font-family: 'Sansita Swashed', cursive;
    font-size: 2cm;
    
}

.saludable-text-normal{
    font-family: 'Sansita Swashed', cursive;
    font-size: 0.5cm;
    
}